target
.metadata
.project
.classpath
.idea/workspace.xml
*.~
*~
*.orig
test-output
*.log

wicket-fullcalendar-examples/.settings/org.eclipse.wst.jsdt.ui.superType.name

wicket-fullcalendar-examples/.settings/org.eclipse.wst.common.project.facet.core.xml

wicket-fullcalendar-examples/.settings/org.eclipse.wst.common.component

wicket-fullcalendar-examples/.settings/org.eclipse.wst.jsdt.ui.superType.container

wicket-fullcalendar-examples/.settings/org.eclipse.m2e.core.prefs

wicket-fullcalendar-examples/.settings/org.eclipse.core.resources.prefs

wicket-fullcalendar-examples/.settings/.jsdtscope

wicket-fullcalendar-core/.settings/org.eclipse.wst.common.project.facet.core.xml

wicket-fullcalendar-core/.settings/org.eclipse.wst.common.component

wicket-fullcalendar-core/.settings/org.eclipse.m2e.core.prefs

wicket-fullcalendar-core/.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.core.resources.prefs

wicket-fullcalendar-examples/.settings/org.eclipse.jdt.core.prefs

wicket-fullcalendar-core/src/main/java/net/ftlines/wicket/fullcalendar/Event.java
